[submodule "ros/src/uros/drive_base"]
	path = ros/src/uros/drive_base
	url = https://github.com/micro-ROS/drive_base.git
[submodule "ros/src/uros/micro-ROS-Agent"]
	path = ros/src/uros/micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
[submodule "ros/src/uros/micro_ros_msgs"]
	path = ros/src/uros/micro_ros_msgs
	url = https://github.com/micro-ROS/micro_ros_msgs.git
