[submodule "micro-ROS/Sensors/vessel_orientation/components/micro_ros_espidf_component"]
	path = micro-ROS/Sensors/sensor_reading/components/micro_ros_espidf_component
	url = https://github.com/micro-ROS/micro_ros_espidf_component.git
[submodule "micro-ROS/Sensors/vessel_orientation/components/micro_ros_espidf_component"]
	path = micro-ROS/Sensors/sensor_reading/components/micro_ros_espidf_component
	url = https://github.com/micro-ROS/micro_ros_espidf_component.git	
	

[submodule "microros_ws/src/micro_ros_setup"]
	path = microros_ws/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = humble
